$base_font: "Montserrat", 'Gotham', 'Avenir', sans-serif;
$apercu-font: "Apercu Pro", "Helvetica Neue", 'Avenir', sans-serif;
$beige: #f5efdc;
$white: #ffffff;
$black: #000000;
$col3: desaturate(#DD33AA, 40%);
$palepeach: #CAC1BD;
$skin: #ffe0bd;
$gray: #ddd;
$lightgray: #666;
$superlightgray: #efefef;
$riverbed: #444A62;