.content-section{
	.hero-image{
		position: relative;
		width: 100%;
		.background{
			padding-top: 46.375%;
			position: relative;
		}
		
			.title{
				position: absolute;
			    top: 0;
			    width: 100%;
			    height: 100%;
			    left: 0px;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    flex-wrap: wrap;
			    h2{
			    	color:#fff;
			    	width: 100%;
			    	text-align: center;
			    	font-size: 57.9px;
			    	font-family: $title-font;
			    	font-weight: $title-font-style;
					text-transform: uppercase;
			    }
			    p{
			    	color: #fff;
			    	font-size: 29.6px;
			    	width: 100%;
			    	text-align: center;
			    	font-family: $subtext;
			    	font-weight: 100;
			    	text-transform: uppercase;
			    }
			}
	}
	.feature-content{
		max-width: 940px;
		margin:40px auto;
		border-top: 3px solid #b2b2b2;
		border-bottom: 3px solid #b2b2b2;
		text-align: center;
		line-height: 1.5;
	    padding: 0px 2%;
	    letter-spacing: 0.02em;
		p{
			font-size: 19px;
		   	font-family: $title-font;
		   	font-weight: 100;
		   	margin: 80px 0;
		}
	}
	.feature-detail{
		max-width: 960px;
	    margin: 0 auto;
	  
	    padding-bottom: 80px;
	    .half-width-column-image-2{
		   	display: flex;
	   	 	justify-content: space-between;
	   	 	.half-width-image-2{
	   	 		width: 48%;
	   	 		margin-bottom: 20px;
	   	 		img{
	   	 			width: 100%;
	   	 		}
	   	 	}
	    }
	    .half-width-column{
	    	width: 100%;
	    	display: flex;
	    	justify-content: space-between;
	    	img{
	    		width: 100%;
	    	}
	    	.text-details{
	    		margin-top: 20px;
	    		width: 48%;
	    		p{
	    			margin-top: 40px;
	    			font-size: 16px;
				   	font-family: $title-font;
				   	font-weight: 100;
				   	line-height: 1.4;
				   	letter-spacing: 0.02em;
	    		}

	    	}
	    	.text-details:last-child{
	    		border-top: 3px solid #b2b2b2;
	    	}
	    	
	    }
	    
	}
	.full-width-content{
		display: flex;
		justify-content:center;
		align-items:center;
		flex-wrap: wrap;
    	position: relative;
		.full-width-bg{
			background: url("../../img/full-width-image.jpg");
			background-size: cover;
			background-position: center;
			padding-bottom: 30%;
			width: 100%;
		}
		.full-width-text{
			max-width: 1300px;
		    margin: 0 auto;
		    text-align: center;
		    padding: 0px 25px;
		    line-height: 1.5;
		    top: 0px;
		    display: flex;
		    left: 0px;
		    position: absolute;
		    height: 100%;
		    justify-content: center;
		    align-items: center;
		    width: 100%;
			h2{
				color: #fff;
				font-size: 25px;
				font-family: $subtext;
				font-weight: 100;
		    	max-width: 1300px;
		    	width: 60%;	
			}
		}
	}
	.feature-detail-2{
		max-width: 940px;
		margin:$margin;
		display: flex;
		justify-content: space-between;
		margin-top: 60px;
		.text-details {
    		width: 48%;

    		p{
    			font-size: 16px;
				font-family: $title-font;
				font-weight: 100;
				margin-top: 60px;
				margin-bottom: 60px;
				line-height: 1.5;
    			letter-spacing: 0.02em;
    		}
		}
		.text-details:first-child{
			border-top: 3px solid #b2b2b2;
		}
	}
	.half-width-column-image{
		max-width: 940px;
		margin:$margin;
		display: flex;
		justify-content: space-between;
		.half-width-image{
			width: 48%;
			img{
				width: 100%;
			}
			margin-bottom: 80px;
		}
	}
	.hero-bottom{
		width: 100%;
		background: url("../../img/bottom-image.jpg");
		background-size: cover;
		background-position: center;
		padding-top: 40%;
	}
}