*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
.masthead{
	    max-width: 1520px;
    vertical-align: middle;
    margin: 0 auto;
    align-items: center;
    display: $display;
    justify-content: space-between;
    background: #f3f3f3;
    padding: 15px 20px;
    transition: 0.3s all;
    .mobile-logo img{
      display: none;
    }
    .social-media-icons a{
      text-decoration: none;
    }
    .social-media-icons img {
        padding: 5px;
    }
    .logo_container a img {
    height: 80px;
    width: auto;}
   .main-nav{
   	 ul{
   	 	list-style-type: none;
      display: flex;
   	 	li{
        padding: 15px 40px;
   	 		a{
   	 			text-decoration: none;
   	 			color: #000000;
          font-family: $title-font;
          font-size: 16px;
   	 		}
   	 	}
   	 }
   }
}