$box-background:#f3f3f3;
$box-shadow: 9px 6px #ebebeb;
$margin: 0 auto;
$border-radius: 5px;
$button-color: #c2c2c2;
$max-width: 1520px;
$margin-top:20px;
$title-font:'Nanum Gothic', sans-serif;
$title-font-style:bold;
$subtext:'Gudea', sans-serif;
$border:3px solid #b2b2b2; 
$display:flex;